@import "./base.css";
body {
  background-image: url("src/assets/chris-abney-qLW70Aoo8BE-unsplash-2.jpg");
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
}

#app {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 5px;
}

h1 {
  color: #f8f9fa;
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
}

.card-header {
  background-color: rgba(0, 0, 0, 0.7);
  color: #f8f9fa;
}

.card-footer {
  background-color: rgba(0, 0, 0, 0.7);
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
